 
@{
    ViewBag.Title = "CallingPrice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<div class="content">
    <div class="container-fluid container-fixed-lg">
        <ul class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#" class="active">@ViewBag.Title</a>
            </li>
        </ul>
    </div>

    <div class="modal fade stick-up" id="addNewAppModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header clearfix ">
                    <button type="button" class="close" id="btnclose" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14"></i>
                    </button>
                    <h4 class="p-b-5 semi-bold">Calling Price</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <input type="hidden" id="CallingPriceId" />
                                    <label> Name</label>
                                    <input id="txtCallTitle" type="text" class="form-control required" placeholder="Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Time(in seconds)</label>
                                    <input id="txtTime" type="number" class="form-control required" placeholder="Time">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Description</label>
                                    <input id="txtdescription" type="text" class="form-control required" placeholder="Description">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Price</label>
                                    <input id="txtPrice" type="text" class="form-control required" placeholder="Price">
                                    <script>
                                        $("input[id*='txtPrice']").keydown(function (event) {


                                            if (event.shiftKey == true) {
                                                event.preventDefault();
                                            }

                                            if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

                                            } else {
                                                event.preventDefault();
                                            }

                                            if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                                                event.preventDefault();

                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button onclick="SaveCallPrice()" type="button" class="btn btn-primary  btn-cons">Add</button>
                    <button type="button" data-dismiss="modal" class="btn btn-cons">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid container-fixed-lg">
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="pull-right">
                    <div class="col-xs-12">
                        <button id="show-modal" class="btn btn-primary btn-cons">
                            <i class="fa fa-plus"></i> Add CallingPrice
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="container-fluid container-fixed-lg bg-white">
                <div class="panel panel-transparent">
                    <div class="panel-body  table-responsive">
                        <table class="table table-hover demo-table-dynamic table-responsive-block" id="tblcategory">
                            <thead>
                                <tr role="row">
                                    <th>Sr.</th>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Time(in seconds)</th>
                                  
                                    <th>Price</th>
                                    <th>IsActive</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function Clear() {
        $("#txtPrice").val('');
        $('#txtTime').val('');
        $('#txtCallTitle').val('');
        $("#txtdescription").val('');
        $("#CallingPriceId").val(0);
        $('.required').each(function () {
            $(this).removeClass("has-error")
        });
 }

    function ActiveDeactive(CategoryId,Status) {
        var text = "Record will be " + Status+".";
        var isValid = true;
        swal({
            title: "Are you sure?",
            text: text,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#19bb9b",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    if (isValid) {
                        var jsonData = {
                            Id: CategoryId
                        };
                        $.ajax({
                            async: false,
                            type: "POST",
                            url: '@Url.Action("ActivedeActiveCallingPrice", "Master")',
                            data: JSON.stringify(jsonData),
                            contentType: 'application/json; charset=utf-8'
                        }).done(function (data) {
                            if (data.Status == true) {
                                text = "Record is Active Now.";
                            }
                            else {
                                text = "Record is inActive Now.";
                            }
                            Clear();
                        })
                    }
                    display();
                    SweetSaveSuccess(text)

                } else {
                    SweetCancelSuccess('Cancelled.')
                }
            });
    }



    function SaveCallPrice() {
        var isValid = true;
        $('.required').each(function () {
            if ($.trim($(this).val()) == '') {
                isValid = false;
                $(this).parent().addClass("has-error")
            }
            else {
                $(this).parent().removeClass("has-error")
            }
        });
        if (isValid) {
            var jsonData = {
                Id: $("#CallingPriceId").val(),
                Name: $("#txtCallTitle").val(),
                Description: $('#txtdescription').val(),
                Time: $("#txtTime").val(),
                Price: $("#txtPrice").val(),
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveCallPrice", "Master")',
                data: JSON.stringify(jsonData),
                contentType: 'application/json; charset=utf-8'
            }).done(function (data) {
                if (data != '' || data !== null) {
                    if (data.Status == "Exists") {
                        alert('Calling Name already exists.')
                    }
                    else if (data.Status == "Update") {
                        Clear();
                        SweetUpdateSuccess();
                        display();
						('#addNewAppModal').hide();
                    }
                    else if (data.Status == "Insert") {
                        Clear();
                        SweetUpdateSuccess();
                        display();
						('#addNewAppModal').hide();
                    }
                }
            }).error(function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            });
        }
        else {
        }
    }


    $(document).ready(function () {
      display();
            })

    function EditCallPrice(CategoryId, Status) {
        var isValid = true;
        if (isValid) {
            var jsonData = {
                Id: CategoryId
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditCallPrice", "Master")',
                data: JSON.stringify(jsonData),
                contentType: 'application/json; charset=utf-8'
            }).done(function (data) {
                if (data != null) {
                    $('#addNewAppModal').modal('show');
                    if (Status == 'view') {
                        //$("#lblcountrycode").text(data.CountryCode)
                        //$('#lblcountryname').text(data.Name);
                        //$('#txtdescription').text(data.Description);

                        $("#txtPrice").val(data.Price);
                        $('#txtTime').val(data.Time);
                        $('#txtCallTitle').val(data.Name);
                        $("#txtdescription").val(data.Description);
                    }
                    else {
                        $("#CallingPriceId").val(data.Id);
                        $("#txtPrice").val(data.Price);
                        $('#txtTime').val(data.Time);
                        $('#txtCallTitle').val(data.Name);
                        $("#txtdescription").val(data.Description);

                        if (data.IsActive == true) {
                            $('#chkIsActive').prop('checked', true);
                        }
                        else {
                            $('#chkIsActive').prop('checked', false);
                        }
                    }
                }
            })
        }
    }


    function display() {
        var oTable = $('#tblcategory').DataTable({
            "oLanguage": {
                "sProcessing": "<img src='../Content/images/spinner.GIF' style='margin: 0 auto;display: block;' />",
                  "sSearch": '<i class="searchBtn fa fa-search"></i>',
                searchPlaceholder: "Search"
            },
            "iDisplayLength": 10,
            "bLengthChange": true,
            "bSort": false,
            "bDestroy": true,
            "sEmptyTable": "Loading data from server",
            "searching": true,
            "paging": true,
            "processing": true,
            "serverSide": true,
            "sAjaxSource": '@Url.Action("GetAllCallingPrice", "Master")',
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                });
            },
            "columns": [
                {
                    "sWidth": "15%",
                    "data": "id",
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                { "bVisible": false },
                { "sWidth": "15%",  },
                { "sWidth": "15%",},
                //{ "sWidth": "15%", },
                { "sWidth": "15%", },
                { "sWidth": "15%", },
                {
                    "sWidth": "15%",
                    "render": function (data, type, row, meta) {
                        var str = "";
                        if (row[5] == "Active") {


                            str = '<div class="btn-group"><a href="javascript:void(0)" title="InActive" onclick="ActiveDeactive(' + row[1] + ',\'InActive\')" class="btn "><i class="fa fa-circle-o text-muted"></i></a> '
                        }
                        else {
                            str = '<div class="btn-group"><a href="javascript:void(0)" title="Active" onclick="ActiveDeactive(' + row[1] + ',\'Active\')" class="btn "><i class="fa fa-circle text-success"></i></a> '
                        }
                        str = str + ' <a href="javascript:void(0)"  title="Edit" onclick="EditCallPrice(' + row[1] + ')" class="btn  "><i class="fa fa-edit"></i></a></div>'

                        //str = str + '<a href="javascript:void(0)" onclick="ActiveDeActiveCountry(' + row[1] + ',\'InActive\')" class="btn btn-cons">Delete</a>'
                        return str;
                    }
                },
            ],
          });
      }

</script>

